<p id="notice"><%= notice %></p>

<h1>Books</h1>

<%= paginate @books %>

<div class="container">
  <% @books.each do |book| %>
    <div class="row">
      <div class="col-xl">
        <h2><%= link_to book.title, book  %></h2>
        <P><%= link_to book.publisher.name, book.publisher %></P>
        <P><%= link_to book.author.name, book.author %></P>
        <P>
          <% book.genres.each do | genre | %>
            <%= (link_to genre.name, genre) + ", " %>
          <% end %>
        </P>
        <P><%= book.description %></P>
        <P><%= book.page_count %> Pages. -- Published on <%= book.published_date %></P>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @books %>